name: CI
on: [ push, pull_request ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.1
    - uses: actions/setup-node@v2.2.0
    - run: npm install
      env:
        CI: true
    - run: npm run lint --if-present -- --quiet

